[client]
default-character-set=utf8
[mysql]
default-character-set=utf8
[mysqld]
lower_case_table_names=1
default-storage-engine=INNODB
collation-server=utf8_general_ci
character-set-server=utf8
init-connect='SET NAMES utf8'
secure_file_priv=/var/lib/mysql # docker -v挂载报错解决